import { render } from '@test-utils';
import { Component } from './Component';

describe('Component', () => {
    it('should render properly', () => {
        const { container } = render(<Component />);
        expect(container).toMatchSnapshot();
    })
})
